##### This project converts scrapted tweeter data saved as `JSON` to `CSV` that can be viewed by normal spreadsheet editors.

In [1]:
import codecs,json

In [2]:
with codecs.open('btc_2.json','r','utf-8') as f:
    tweets=json.load(f,encoding='utf-8')

In [3]:
print(tweets[0])

{'id': '971535968216993792', 'text': 'Israeli cybersecurity and fin-tech: Two sides of the same bitcoin http://www.jpost.com/Jpost-Tech/Business-and-Innovation/Israeli-cybersecurity-and-fin-tech-Two-sides-of-the-same-bitcoin-544482\xa0…', 'replies': '0', 'user': 'jmescoda', 'likes': '0', 'url': '/jmescoda/status/971535968216993792', 'timestamp': '2018-03-07T23:59:59', 'retweets': '0', 'fullname': 'Josep Maria Escoda', 'html': '<p class="TweetTextSize js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Israeli cybersecurity and fin-tech: Two sides of the same <strong>bitcoin</strong> <a class="twitter-timeline-link u-hidden" data-expanded-url="http://www.jpost.com/Jpost-Tech/Business-and-Innovation/Israeli-cybersecurity-and-fin-tech-Two-sides-of-the-same-bitcoin-544482" dir="ltr" href="https://t.co/6K6emPHZwH" rel="nofollow noopener" target="_blank" title="http://www.jpost.com/Jpost-Tech/Business-and-Innovation/Israeli-cybersecurity-and-fin-tech-Two-sides-of-the-same-bitcoin-544482"><span class="tco-ellipsis"></span><span class="invisible">http://www.</span><span class="js-display-url">jpost.com/Jpost-Tech/Bus</span><span class="invisible">iness-and-Innovation/Israeli-cybersecurity-and-fin-tech-Two-sides-of-the-same-bitcoin-544482</span><span class="tco-ellipsis"><span class="invisible">\xa0</span>…</span></a></p>'}

In [4]:
print(tweets.__len__())

290196

In [5]:
import pandas as pd
from collections import OrderedDict
from datetime import date

In [6]:
df = pd.DataFrame(tweets)

In [7]:
df[['timestamp','user','text','retweets','replies','likes']].tail()

,timestamp,user,text,retweets,replies,likes
290191,2018-03-06T00:00:00,CryptoGulp,Top 5 Cryptocurrencies Prices\n\nBitcoin $BTC:...,1,0,1
290192,2018-03-06T00:00:00,LaMarkazia,"أخر أسعار العملات المشفرة\n\n٭ $BTC بـ 11,586....",0,0,1
290193,2018-03-06T00:00:00,coinyfees,20 min 26 sat/B ($0.68)\n40 min 11 sat/B ($0.2...,0,0,0
290194,2018-03-06T00:00:00,ru_tradingview,$BTCUSD - 05.03.2018 Обзор монеты Bitcoin - h...,0,0,0
290195,2018-03-06T00:00:00,CoinSignalBot,5 min #RSI Signals:\n\n$BTC - $FAIR: 3.12\n$BT...,2,0,4

In [8]:
size=290195
steps=(int)(df.values.shape[0]/size)+1
for i in range(steps):
    tempDf = df.iloc[i*size:i*size+size]
    tempDf.to_csv('csv/t_{}.csv'.format(i), sep=',', encoding='utf-8')

print('done')
# sub for sub in df.values
# df.to_csv('t_1.csv', sep=',', encoding='utf-8')

done